.list {
    margin: 0;
    padding: 0;
    height: 500px;
    background: gray;
    margin-top: 20px;
    width: 300px;
    padding-left: 20px;
}
.item {
    display: flex;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #999;
    height: 50px;
}